* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    max-width: 800px;
    height: 300px;
    border: 4px solid #80868bd2;
    border-radius: 10px;
    background-color: #202124;
}

section div {
    display: flex;
    /* flex-wrap: ; */
}

#stopwatch,
#timer {
    width: 450px;
    padding: 15px 20px;
    background-color: #202124;
    border: none;
    color: aliceblue;
}

#stopwatch {
    border-top-left-radius: 10px;
    border-bottom: 4px solid #80868b;
}

#timer {
    border-top-right-radius: 10px;
    border-bottom: 4px solid #8ab4f8;
}
.output {
    background-color: #202124;
    width: 100%;
    height: 200px;
    font-size: 5em;
    display: flex;
    justify-content: end;
    align-items: center; 
    color: aliceblue;
}

#s {
    font-size: 0.5em;
}
.output-stopwatch{
    display: none;
}

.btn {
    display: none;
    border-top: 2px solid #80868b;
    padding: 10px;

}
.btnTimer {
    display: flex;
    justify-content: end;
    border-top: 2px solid #80868b;
    padding: 10px;


}
.btn button ,.btnTimer button {
    padding: 7px;
    margin-left: 10px;
    background-color: #8ab4f8;
}

input {
    all: unset;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    background-color: none;
    font-size: 70px;
}

@media (max-width : 490px) {
    
section div {
    flex-wrap: wrap;
}
}